# Data Types Conversion

In [3]:
num_int = 7

type(num_int)

int

In [4]:
num_str = '7'

type(num_str)

str

In [5]:
#it throws error
num_sum = num_int + num_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
#converting string to integer
num_str_conv = int(num_str)

In [8]:
num_sum = num_int + num_str_conv
print(num_sum)

14

In [9]:
type(num_sum)

int

In [10]:
#converting list to tuple
list_type = [1 , 2 , 3 , 4 , 5]

In [12]:
#converting list to sets - it only return unique values
list_type = [1 , 2 , 3 , 3 , 2 , 1]

In [11]:
tuple(list_type)

(1, 2, 3, 4, 5)

In [13]:
set(list_type)

{1, 2, 3}

In [14]:
#converting dictionary to list
dict_type = {'name' : 'Gururaj' , 'age' : 20 , 'gender' : 'male'}

In [15]:
list(dict_type.values())

['Gururaj', 20, 'male']

In [17]:
#coverting long strings into list

string = "My Name Is Gururaj Sharma"

list(string)

['M',
 'y',
 ' ',
 'N',
 'a',
 'm',
 'e',
 ' ',
 'I',
 's',
 ' ',
 'G',
 'u',
 'r',
 'u',
 'r',
 'a',
 'j',
 ' ',
 'S',
 'h',
 'a',
 'r',
 'm',
 'a']